<div class="container">

    <h3 class="d-flex justify-content-center">Movie-Actor Portal</h3>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-iten">
                <button routerLink="movie-list" class="m-1 btn btn-light btn-outline-primary">Movies</button>
            </li>
            <li class="nav-iten">
                <button routerLink="actor-list" class="m-1 btn btn-light btn-outline-primary">Actors</button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>